---
---

@import "{{ site.theme }}";


/**
 * Special Wrapper for page content (for special canvas and code formatting)
 */
.wrapper-content h1, .wrapper-content h2, .wrapper-content h3, .wrapper-content p {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.wrapper-content ul, .wrapper-content ol {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 4));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 4));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

.wrapper-content .highlighter-rouge {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.wrapper-content .game_box {
  max-width: -webkit-calc((2 * #{$content-width}) - (#{$spacing-unit} * 2));
  max-width:         calc((2 * #{$content-width}) - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }

  color: ivory;
  padding: $spacing-unit/4;
  background-image: linear-gradient(rgb(96,96,96), rgb(104,104,104));
  border-radius: 8px;
  position: relative;
}


#game_canvas {
  width:100%;
  height:100%;
}

.overlay {
  position: absolute;
  top: $spacing-unit/4;
  right: $spacing-unit/4;
  z-index: 9;
  background: rgba(192, 192, 192, 0.4);
}

.keys {
  color: black;
  background: ivory;
  display: inline-block;
  padding: $spacing-unit/8;
  border-radius: 8px;
  width: 50%;
}

.keys:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.rna-algs {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
  
  color: ivory;
  
  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  
  padding: $spacing-unit/4;
  background-image: linear-gradient(rgb(96,96,96), rgb(104,104,104));
  border-radius: 8px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.rna-algs .box-option {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  .big {
    flex-grow: 4;
    margin: $spacing-unit/4;
  }
  
  .small {
    flex-grow: 1;
    margin: $spacing-unit/4;
  }
}

.rna-algs button, .rna-algs textarea, .rna-algs input {
  box-sizing:border-box;
  width:100%;
  height:100%;
  resize: none;
}
